
<footer id="footer" class="style4">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row add-clearfix same-height">
                @*<div class="col-sm-6 col-md-3" id="widget-fvf">*@
                @*<h5 class="section-title box">PHOTOS ON FLICKR</h5>
                        <div class="instagram-thumb clearfix" class="col-sm-6 col-md-3">
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/3.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/4.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/5.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/6.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/7.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/8.jpg" alt="image">
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img src="images/widget/9.jpg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>*@
                <div class="col-sm-6 col-md-4" id="padding-top">
                    <h5 class="section-title box">CHÍNH SÁCH</h5>
                    <p><a href="@Url.Action("ChinhSachDoiTra", "AboutShop")">Chính sách đổi trả hàng</a></p>
                    <p><a href="@Url.Action("ChinhSachUuDai", "AboutShop")">Chính sách ưu đãi</a></p>
                </div>

                <div class="col-sm-6 col-md-4">
                    <h5 class="section-title box">Hỗ Trợ</h5>
                    <p><a href="@Url.Action("HuongDanMuaHang", "AboutShop")">Hướng dẫn mua hàng</a></p>
                    <p><a href="@Url.Action("HuongDanThanhToan", "AboutShop")">Hướng dẫn thanh toán</a></p>
                </div>

                <div class="col-sm-6 col-md-4" id="add-fvf">
                    <h5 class="section-title box">LIÊN HỆ VỚI CHÚNG TÔI</h5>
                    <p><a>1818 CT1 chung cư The Pride Hải Phát</a></p>
                    <p class="sdt"><a>0934580456</a></p>
                    <p class="email"><a>Pham.tiendat2508@gmail.com</a></p>
                    <a class="back-to-top"><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bar_widget">
        <div class="contents">
            <div class="widget_support">
                <img src="~/images/chamsockh.png">
            </div>
            <div class="method_support">
                <p>Hotline mua hàng / chăm sóc khách hàng:</p>
                <label>0934580456</label>
                <span class="dotline">-</span>
                <label class="style1">dieplucfresh.com</label>
            </div>
        </div>
    </div>
</footer>