
<div class="page-title-container">
    <div class="parallax has-caption parallax-image2">
        <div class="overlay v1"></div>
        <div class="page-title">
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="flat-divider d30px"></div>
</div>